// Main Page
//
// It's a layout class bound to the <body> tag that gets modifiers about the existence of a modal box or if the site is embedded or not. Creates hooks for sub theming.
//
//
// Styleguide 3.4

.l-page

  &__main,
  &__side
    margin-bottom: $section-padding

  +respond-min($bp__tablet-portrait)
    &__main,
    &__side
      float: left
      width: 50%


  +respond-min($bp__tablet-landscape)
    &__main
      width: percentage(7/12)
    &__side
      width: percentage(5/12)

  +respond-min($bp__desktop)
    &__main
      width: percentage(8/12)
    &__side
      width: percentage(4/12)
