---
title: Valutazioni esperte
section: valutazione
---
##Cosa sono
Sono analisi di usabilità che permettono di **valutare l'interfaccia ** di software, siti web, intranet e apps per dispositivi mobili oppure di **valutare un flusso di azioni ** (procedure di registrazione, acquisto, ecc.). Le metodologie utilizzate sono prevaletemete due: l'analisi euristica e il cognitive walkthrough.

Inoltre, è possibile utilizzare gli strumenti dello user-centrd design (ricerca, personaggi e scenari) per un approccio strategico alle attività di analisi.

##**Quando farle e perché **
Le valutazioni esperte possono essere fatte in qualsiasi fase dell'attività di sviluppo oppure su prodotti già sviluppati e permettono di individuare gli eventuali **problemi dell'interfaccia ** o **nel flusso **, che spesso si traducono nel mancato completamento di una procedura o con il mancato reperimento di informazioni.

##Informazioni e preventivi
Potete chiamarci allo **06 84404055 ** oppure su skype **sdominici ** per illustrarci le vostre esigenze, in base alle quali prepareremo un preventivo ad hoc.

##I tempi richiesti
Generalmente sono necessari **dai 6 ai 12 giorni lavorativi **.

##Le metodologie
**L'analisi euristica
Questa metodologia permette di valutare anche una singola pagina, per esempio l'home page, attraverso l'utilizzo di linee guida progettuali definite euristiche. Ogni violazione di un euristica può comportare un problema di usabilità e rendere necessario un correttivo specifico.

**Il cognitive walkthrough
Questa metodologia è adatta all'analisi di un flusso di azioni, perché permette di capire se i passaggi per il completamento di un compito sono logici e coerenti.

##**Le fasi di sviluppo **
L'analisi si sviluppa attraverso 2 fasi: **preparazione ****  **e **analisi e report **.

Nella fase di **preparazione ** vengono svolte le seguenti attività

- definizione degli obiettivi
- preparazione dei materiali per l'analisi

Nella fase di **analisi e report ** vengono svolte le seguenti attività:
- analisi dell'interfaccia o del flusso di azioni
- stesura del report con la valutazione dei problemi riscontrati con indicazioni e suggerimenti su come risolverli

##Caso di studio
<a href="http://www.progettareperlepersone.it/dblog/articolo.asp?articolo=87">Cognitive Walkthrough con i personaggi</a>
(Pubblicato sul blog Progettare per le persone)

