.m-categories
  border-top: 1px solid $color__grey4
  margin-bottom: 2 * $rithm
  font-size: $base-font-size

.m-categories__containers
  padding: $rithm
  display: table
  width: 8/10 //non funziona, perché?


.m-categories__left
  width: 100%
  border-bottom: 1px solid $color__grey4
  +respond-min($bp__phablet)
    width: 50%
    float: left
    border-bottom: none
    border-right: 1px solid $color__grey4
  

.m-categories__right
  width: 100%
  border-bottom: 1px solid $color__grey4
  +respond-min($bp__phablet)
    width: 50%
    float: right
    border-bottom: none


.m-categories__title
  @extend .as-h4
  display: table-cell
  vertical-align: top

.m-categories__list
  list-style: none
  display: table-cell
  vertical-align: top

.m-categories__item
  padding-bottom: $rithm