// Footer
// 
// The footer copyright info bar.
//
// Markup: 
// <footer class="m-footer color--light">Red Bull TV, 2014<span class="m-footer__dash">-</span><a href="http://www.redbull.tv/TermsAndConditions" class="link--light" target="_blank">Terms and Conditions</a></footer>
// 
// Styleguide 2.9
.m-footer
  text-align: left

.m-footer__dash
  +respond-max($bp__phone-landscape)
    display: block
    width: 0
    height: 0
    overflow: hidden
  +respond-min($bp__phone-landscape)
    margin: 0 em($ratio__base)