.m-introduction

  &__text
    @extend .large-copy
  &__img
    @extend .centered
    margin-bottom: $section-padding
    width: 100%
    max-width: $narrow-col

  +respond-min($bp__tablet-portrait)
    margin-top: $section-padding
    margin-bottom: $section-padding
    display: table
    text-align: center
    height: 100%
    width: 100%

    &__text,
    &__img
      display: table-cell
      vertical-align: middle

    &__text
      width: 55%
    &__img
      margin-bottom: 0
      width: 100%
    &__img--child
      transform: scale(1.3) translateX(-8%) translateY(-6%)

  +respond-min($bp__tablet-landscape)
    margin-top: $section-padding*3
    margin-bottom: $section-padding*3


.m-introduction--edge
  position: relative


  +respond-min($bp__tablet-portrait)
    display: flex
    align-items: center
    height: em(245)

    .m-introduction__text
      display: block
      float: left
      max-width: 50%
      position: relative

    .m-introduction__bg
      +position(absolute, top 0 right 0)
      height: 100%

    .m-introduction__img
      float: right
      position: relative
      max-width: 100%
      width: 50%

  +respond-min($bp__desktop)
    height: 26em
    align-items: flex-start
    .m-introduction__text
      margin-top: 3rem
      max-width: 66%
    .m-introduction__img
      width: 75%
