.m-speaker
  margin: 1rem auto
  width: 100%
  max-width: 15rem
  text-align: center

  &__img
    max-width: 10rem
    margin: 0 auto
    border-radius: 50%


  &__name
    @extend .as-h3

  &__twitter
    background-image: none
    font-style: italic
