.m-speaker
  margin: 1rem auto
  width: 100%
  max-width: 15rem
  text-align: center

  &__img
    width: 100%
    max-width: 10rem
    width: 100%
    margin: 0 auto
    border-radius: 50%

  &__name
    +h4
    margin-bottom: 0
    +respond-min($bp__tablet-portrait)
      +h3

  &__twitter
    background-image: none
    font-style: italic
