.m-social
  background: $color__white
  color: $color__black
  text-align: center

  span
    display: inline-block
    max-width: 170px
    margin-right: 1rem
	min-height: 35px
	vertical-align: top

