.m-tickets
  @extend .margin-top-double
  text-align: center

  &__inner
    padding: $section-padding
    background-color: $color__white
    color: $color__black

  &__title
    @extend .l-block
    @extend .as-h3
    font-style: italic
    line-height: 1.2

  &__form
    @extend .l-block--container

    iframe
      margin: 0 auto
      float: none
