.m-teaser
  =teaser-bold
    font-family: $fonts--comp
    line-height: 1.2
    font-size: em(24)
    margin-bottom: .5em
    +respond-min($bp__tablet-portrait)
      font-size: em($ratio__large)


  @extend .l-block
  text-align: center

  &__when
    +teaser-bold

  &__intro
    font-style: italic
    margin: 1em 0 1.2em
    +respond-min($bp__tablet-portrait)
      font-size: em($ratio__medium)

  &__where
    +teaser-bold

  &__button
    font-style: italic
    @extend .o-button
    @extend .margin-top-regular
