.m-teaser
  %teaser-bold
    @extend .as-h3
    @extend .script
    line-height: 1.2

  @extend .l-block
  text-align: center

  &__when
    @extend %teaser-bold

  &__intro
    font-style: italic
    margin-bottom: 0

  &__where
    @extend %teaser-bold

  &__button
    @extend .o-button
    @extend .margin-top-regular
