---
title: Home
heading: 'Usertest/lab'
lead: Usertest/lab
---
{{> _introduction}}
{{> _keypoints}}

<section class="l-page margin-top-double l-block">
  <section class="l-page__main">
    {{> _links case-studies}}
    {{> _links articles}}
  </section>
  <aside class="l-page__side">
   {{> _clients }}
  </aside>
</section>

<div class="l-block">
  <section class="l-boxes">
    <h2 class="l-boxes__title">
      Parte di
    </h2>
    <div class="l-boxes__box">
      {{> _banner ux-university}}
    </div>
    <div class="l-boxes__box">
      {{> _banner ux-fellows}}
    </div>
    <div class="l-boxes__box">
      {{> _banner uxpa}}
    </div>
  </section>
</div>
