---
title: Frontend in Wonderland
---

<div class="l-main__opening">
  {{> _banner}}
  {{> _teaser}}
</div>

<div class="l-main__panel">
  {{> _speakers-teaser}}
</div>

<div class="l-main__panel">
   {{> _tickets}}
  <div class="m-social padding-regular">
    <div class="m-social__inner l-block l-block--container">
      {{> _social-shit}}
    </div>
  </div>
</div>

<div class="l-main__panel">
   {{> _sponsors-block}}
</div>
