---
title: Raffaella Roviglioni
tags: persone
desc: user experience designer
order: 4
---
<article class="l-page l-article">
  <h1 class="as-h2 l-article__title">
    {{title}}
  </h1>
  <div class="l-article__main l-article__content m-article__people">
    {{md './src/content/raffaella-roviglioni.md' }}
  </div>
  <aside class="l-article__aside m-article__category">

  </aside>
</article>
