---
title: Stefano Bussolon
tags: persone
desc: user research specialist e information architect e interaction designer
---
<article class="l-page l-article">
  <h1 class="as-h2 l-article__title">
    {{title}}
  </h1>
  <div class="l-article__main l-article__content m-article__people">
    {{md './src/content/stefano-bussolon.md' }}
  </div>
  <aside class="l-article__aside m-article__category">

  </aside>
