---
title: Stefano Dominici
---
<article class="l-page l-article">
  <h1 class="as-h2 l-article__title">
    {{title}}
  </h1>
  <div class="l-article__main l-article__content m-article__people">
    {{md './src/content/stefano-dominici.md' }}
  </div>
  <aside class="l-article__aside m-article__category">
    <ul class="m-people__list">
      {{#each people.list}}
      <li class="m-people__person">
        <p class="m-people__name">{{{label}}}</p>
        <p class="m-people__pro">{{{title}}}</p>
      </li>
      {{/each}}
    </ul>
  </aside>
</article>
