---
title: Stefano Dominici
tags: persone
desc: user experience designer usability specialist e information architect
order: 1
---
<article class="l-page l-article">
  <h1 class="as-h2 l-article__title">
    {{title}}
  </h1>
  <div class="l-article__main l-article__content m-article__people">
    {{md './src/content/stefano-dominici.md' }}
  </div>
  <aside class="l-article__aside">
    {{> _persone }}
  </aside>
</article>
