<article class="m-category">
  <h2 class="m-category__title">
    Progettazione
  </h2>
  <ul class="m-category__list">
  {{#each category.list}}
    <li class="m-category__item  {{#if active}}m-status__active{{/if}}">
      {{{label}}}
    </li>
   {{/each}}
  </ul>
</article>
