<article class="m-clients">
  <h2 class="m-clients__title">
    Si sono affidati a noi
  </h2>
  <ul class="m-clients__list">
  {{#each clients.list}}
    <li class="m-clients__item">
      {{{label}}}
    </li>
   {{/each}}
  </ul>
</article>
