<footer class="m-contentinfo" role="contentinfo">
  <div class="m-contentinfo__inner l-block">
    <small class="m-contentinfo__copyright">
      {{{footer.copyright}}}
    </small>
    <small class="m-contentinfo__contacts">
      {{{footer.contacts}}}
    </small>
  </div>
  <div class="m-contentinfo__inner l-block">
    <ul class="m-contentinfo__list">
       {{#each footer.sitemap}}
       <li class="m-contentinfo__item">
         <a href="{{link}}" class="m-contentinfo__link">{{label}}</a>
       </li>
       {{/each}}
    </ul>
  </div>
</footer>
