<footer class="footer" role="contentinfo">
    <div class="footer__inner">
        <div class="footer__section footer__section--organization">
            <img class="ftf__logo" src="{{assets}}/images/logo_ftf.png" alt="From the Front Logo">
            <div class="ftf__text">
                <p class="ftf__text-item">Associazione From the Front</p>
                <p class="ftf__text-item">via Caravaggio 36</p>
                <p class="ftf__text-item">40033 Casalecchio di Reno (BO) Italy</p>
                <p class="ftf__text-item">C.F. 91344080378</p>
            </div>
        </div>

         <div class="footer__section footer__section--meta">
            <p class="made">made with <span class="made__heart">♥</span> in Italy by&ensp;<a href="http://mced.it/" class="footer__link"><img class="footer__img" src="../images/mced.png" alt="MCED"></a></p>
            <p class="privacy">

                <a href="#" class="privacy__link">Code of conduct</a>
                &mdash;
                <a class="privacy__link" href="https://www.iubenda.com/privacy-policy/155299">
                    Privacy
                </a>
            </p>
        </div>
    </div>
</footer>
