<footer class="m-contentinfo" role="contentinfo">
  <div class="m-contentinfo__inner l-block">
    <small class="m-contentinfo__copyright">
      {{{footer.copyright}}}
    </small>
    <small class="m-contentinfo__contacts">
      {{{footer.contacts}}}
    </small>
  </div>
</footer>
