<header class="m-masthead" role="banner">
  <h1 class="m-masthead__title l-block">
    <a href="./" class="m-masthead__home-link">
      <img src="{{assets}}/images/logo@2x.jpg" alt="Usertest/lab" class="o-logo">
    </a>
  </h1>

  <button class="m-navigation__control m-masthead__button js-navigation-control" type="button">
    Menù
  </button>

  <nav class="m-navigation l-block">
    <ul class="m-navigation__list">
      {{#each navigation.main-nav}}
        <li class="m-navigation__item">
          <a href="{{link}}" class="m-navigation__link">{{label}}</a>
        </li>
      {{/each}}
    </ul>
  </nav>

</header>
