<div class="m-masthead__sup">
  <div class="m-masthead__row">
    <div class="m-masthead__lang l-block">
      <a href="#">english version</a>
    </div>
    <ul class="m-masthead__socials l-block">
      <li class="m-masthead__social">
        <a href="http://facebook.com/">
          Facebook
        </a>
      </li>
      /
      <li class="m-masthead__social">
        <a href="http://twitter.com/">
          Twitter
        </a>
      </li>
    </ul>
  </div>
</div>
<header class="m-masthead" role="banner">
  <div class="m-masthead__row">
    <h1 class="m-masthead__title l-block">
      <a href="./" class="m-masthead__home-link">
        <img src="{{assets}}/images/logo@2x.png" alt="Usertest/lab" class="o-logo">
      </a>
    </h1>

    <button class="m-navigation__control m-masthead__button js-navigation-control" type="button">
      menù
    </button>

    <p class="o-claim l-block">experience and service design</p>
  </div>

    <nav class="m-navigation l-block">
      <div class="m-masthead__row">
        <ul class="m-navigation__list">
          {{#each navigation.main-nav}}
            <li class="m-navigation__item">
              <a href="{{link}}" class="m-navigation__link">{{label}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </nav>

</header>
