<section class="m-introduction">
  <img src="{{assets}}/images/image@2x.jpg" alt="Benvenuti su Usertest/lab" class="introduction__image">
  <div class="m-introduction__text">
    {{md './src/content/home-text.md' }}
  </div>
</section>
