<section class="m-introduction">
  <img src="{{assets}}/images/header-image2@2x.jpg" alt="Benvenuti su Usertest/lab" class="m-introduction__img">
  <div class="m-introduction__text l-block">
    {{md './src/content/home-text.md' }}
  </div>
</section>
