<section class="m-introduction">
  <img src="{{assets}}/images/header-image1@2x.png" alt="Benvenuti su Usertest/lab" class="m-introduction__img m-introduction__img--child">
  <div class="m-introduction__text l-block">
    {{md './src/content/home-text.md' }}
  </div>
</section>
