<section class="m-introduction m-introduction--edge">
  <div class="m-introduction__bg">
    <img src="{{assets}}/images/header-image4@2x.png" alt="Benvenuti su Usertest/lab" class="m-introduction__img m-introduction__img">
  </div>
  <div class="m-introduction__text l-block">
    {{md './src/content/home-text.md' }}
  </div>
</section>
