<section class="m-links margin-bottom-regular">
  <h2 class="m-links__title l-block">{{title}}</h2>
  <ul class="m-links__list l-block">
  {{#each posts}}
    <li class="m-links__item">
      <a href="{{link}}" class="m-links__link">{{title}}</a>
    </li>
   {{/each}}
  </ul>
</section>
