<article class="m-people">
  <h1 class="m-people__title">Persone</h1>
   <ul class="m-people__list">
  {{#each people.list}}
    <li class="m-people__person">
      <p class="m-people__name">{{{label}}}</p>
      <p class="m-people__pro">{{{title}}}</p>
    </li>
   {{/each}}
  </ul>
  <p>{{md './src/content/chi-siamo__persone.md' }}</p>
</article>