<section class="m-persone">
  <ul class="m-persone__list">
    {{#each tags}}
      {{#is tag "persone"}}
        {{#each pages}}
          {{#isnt data.title page.title}}
            <li class="m-persone__item">
              <a class="m-persone__link" href="{{relative ./this.dest }}">
                {{data.title}} {{data.dest}}
              </a>
              <p class="m-persone__desc">
                {{data.desc}}
              </p>
            </li>
          {{/isnt}}

        {{/each}}
      {{/is}}
    {{/each}}
  </ul>
</section>
