<!-- FACEBOOK -->
        <span>
          <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F2014.fromthefront.it&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
        </span>


<!-- TWITTER -->
      <span>
        <iframe scrolling="no" frameborder="0" id="twitter-widget-0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1390956745.html#_=1391613664956&amp;count=horizontal&amp;hashtags=ftf15&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2F2014.fromthefront.it%2F&amp;size=m&amp;text=From%20The%20Front%2C%20September%2018th%2F19th%2C%202014%20in%20Bologna%2C%20Italy&amp;url=http%3A%2F%2F2014.fromthefront.it" class="twitter-share-button twitter-tweet-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 90px; height: 20px;"></iframe>
      </span>

<!-- GOOGLE PLUS -->

        <span>
          <iframe width="100%" scrolling="no" frameborder="0" hspace="0" marginheight="0" marginwidth="0" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" id="I0_1391613664977" name="I0_1391613664977" src="https://apis.google.com/u/0/_/+1/fastbutton?usegapi=1&amp;bsv=o&amp;size=medium&amp;origin=http%3A%2F%2F2014.fromthefront.it&amp;url=http%3A%2F%2F2014.fromthefront.it%2F&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.it.CAGcSzCDRxQ.O%2Fm%3D__features__%2Fam%3DIQ%2Frt%3Dj%2Fd%3D1%2Ft%3Dzcms%2Frs%3DAItRSTN2qIZCZGIBPAPH_ZSc27bEP1-xDA#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1391613664977&amp;parent=http%3A%2F%2F2014.fromthefront.it&amp;pfname=&amp;rpctoken=27997022" data-gapiattached="true" title="+1"></iframe>
        </span>

