<section class="l-speaker-teaser">
  <h2 class="l-speaker-teaser__title">
    {{site.speaker_teaser_intro}}
  </h2>
  <ul class="l-speaker-teaser__list">
    <li class="l-speaker-teaser__item">
      {{> _speaker anna-debenham}}
    </li>

    <li class="l-speaker-teaser__item">
      {{> _speaker tim-kadlec}}
    </li>

    <li class="l-speaker-teaser__item">
      {{> _speaker razan-sadeq}}
    </li>

  </ul>
</section>
