<section class="l-speaker-teaser">
  <h2 class="l-speaker-teaser__title">
    Let me introduce to&nbsp;you...
  </h2>
  <ul class="l-speaker-teaser__list">
    <li class="l-speaker-teaser__item">
      {{> _speaker anna-debenham}}
    </li>

    <li class="l-speaker-teaser__item">
      {{> _speaker tim-kadlec}}
    </li>

    <li class="l-speaker-teaser__item">
      {{> _speaker harry-roberts}}
    </li>

  </ul>
</section>
