<div class="m-teaser">
  <p class="m-teaser__when">
    17<sup>th</sup> and 18<sup>th</sup> September
  </p>
  <p class="m-teaser__intro">
    once again in the fabolous setting of
  </p>
  <p class="m-teaser__where">
    the Duse Theater, Bologna, Italy
  </p>

  <a href="#tickets" class="m-teaser__button">
    don't be late, take your ticket
  </a>

</div>
