<section id="tickets" class="m-tickets">
  <div class="m-tickets__inner">
    <div class="m-tickets__form">
      <header class="m-tickets__header o-quote">
        <h2 class="m-tickets__title o-quote__title">
          “I'm late, I'm late, for a very important&nbsp;date!”
        </h2>
        <p class="o-quote__author">
          &mdash; The White Rabbit
        </p>
      </header>
      <script src="https://getinvited.to/js/fromthefront/from-the-front-2015/" id="script-fromthefront-from-the-front-2015" async=""></script>
    </div>
  </div>
</section>
