<section id="tickets" class="m-tickets">
  <div class="m-tickets__inner">
    <div class="m-tickets__form">
      <header class="m-tickets__header o-quote">
        <h2 class="m-tickets__title o-quote__title">
          “If you don't care for tea, you could at least make polite conversation”
        </h2>
        <p class="o-quote__author">
          &mdash; March Hare
        </p>
      </header>
      <div class="m-tickets__notes">
        <p><strong>70 tickets available at just 150€ <span>(+vat)</span></strong></p>
        <p>After sell out, the price will get to 190€ <span>(+vat)</span>.</p>
        <p>If you are a student we have a special discount for you.<br/>
        If you are a non-Italian VIES registered or an extra EU company we can relief you from VAT.<br/>
        Please <a class="ticket__link" href="http://fromthefront.wufoo.com/forms/z7x3k7/" onclick="winOpen(this); return false">get in touch</a>.</p>
      </div>
      <script src="https://getinvited.to/js/fromthefront/from-the-front-2015/" id="script-fromthefront-from-the-front-2015" async=""></script>
    </div>
  </div>
</section>
