<section id="tickets" class="m-tickets">
  <div class="m-tickets__inner">
    <div class="m-tickets__form">
      <header class="m-tickets__header o-quote">
        <h2 class="m-tickets__title o-quote__title">
          “If you'll believe in me, I'll believe&nbsp;in&nbsp;you.”
        </h2>
        <p class="o-quote__author">
          &mdash; The unicorn
        </p>
      </header>
      <div class="m-tickets__notes">
        <p><strong>50 tickets available at just 110€(+vat)</strong></p>
        <p>After sell out, the price will get to 150€<span>(+vat)</span>. If you are a student, please get in touch for a special discount.</p>
      </div>
      <script src="https://getinvited.to/js/fromthefront/from-the-front-2015/" id="script-fromthefront-from-the-front-2015" async=""></script>
    </div>
  </div>
</section>
