<section id="tickets" class="m-tickets">
  <h2 class="m-tickets__title">
    The most wonderful From the Front ever
  </h2>
  <div class="m-tickets__inner">
    <div class="m-tickets__form">
      <p>trolololo</p>
      <script src="https://getinvited.to/js/fromthefront/from-the-front-2015/" id="script-fromthefront-from-the-front-2015" async=""></script>
    </div>
  </div>
</section>
