// In unitless px values
$bp__widescreen: 1441
$bp__desktop: 1280
$bp__tablet-landscape: 1000
$bp__tablet-portrait: 700
$bp__phablet: 640
$bp__phone-landscape: 480
$bp__phone: 320

// Special cases
$bp__iframe-width: 720
$bp__iphone-4s: 640
$bp__show-background: 860
