$border-thickness: 2px
$border-radius: 2px

$object-height: 54 // height of .o-button, .o-time-slot
$object-height__small: 42 // height of .o-button, .o-time-slot
$object-height__large: 64 // height of .o-button, .o-time-slot

// golden ratio scale based on 1em = 16px
$ratio__huge: 44
$ratio__big: 37
$ratio__large: 27
$ratio__medium: 18
$ratio__base: 16
$ratio__small: 14
$ratio__tiny: 12

// transition
$transition__duration: .125s
$transition__duration--long: .5s

// carousel sizes
$media__big: 300
$media__medium: 240
$media__small: 180

// spaces
$section-padding: 1rem

$row-width: 64rem
$narrow-col: 25rem
