$fonts: "Red Bull Siri", sans-serif
$fonts--comp: serif
$fonts--monospace: Monaco, Courier, monospace
$fonts__base: 100%
$fonts__line-height: 1.5
$fonts__max-line-length: 34em
$fonts__bold-weight: 700
$fonts__black-weight: 900