$fonts: "lust", Helvetica, sans-serif
$fonts--comp: "lust-script-display", georgia, serif
$fonts--monospace: Monaco, Courier, monospace
$fonts__base: 1rem
$fonts__line-height: 1.375rem
$fonts__max-line-length: 34rem
$fonts__bold-weight: 700
$fonts__black-weight: 900