---
title: Sviluppo personaggi
section: ricerca
---
##Cosa sono
I personaggi sono una sintesi descrittiva dei fruitori di riferimento di un prodotto digitale **(sito web, intranet, apps per dispositivi mobili), ottenuta tramite attività di ricerca che coinvolgono persone reali. Ai personaggi sono sempre abbinati degli scenari, **narrazioni sintetiche che descrivono le principali situazioni reali** in cui i personaggi interagiscono con il prodotto digitale. Lo scenario porterà alla definizione delle azioni e dei compiti (task) che i personaggi dovranno svolgere per raggiungere i loro obiettivi attraverso il prodotto digitale.

##Perché si utilizzano
Perché danno la possibilità di **sintetizzare le ricerche** effettuate e di **renderle facilmente condivisibili**. Inoltre, sono un potente strumento di progettazione perché **permettono di effettuare delle scelte in maniera mirata**.

##Come si sviluppano
I personaggi si sviluppano attraverso un processo di segmentazione, effettuato, generalmente, per obiettivi o modalità d’uso o comportamenti. Nella pratica la segmentazione è ottenuta estraendo dei microdati dai risultati di tutte le ricerche, riportando ognuno di essi su dei post-it e creando dei diagrammi di affinità. In questi ultimi si cercano “percorsi e storie” significativi per il progetto.

I personaggi possono essere suddivisi in primari, secondari e complementari e la scelta viene effettuata in base all’impatto di ognuno di essi sugli obiettivi aziendali. Ogni personaggio viene descritto in una scheda che comprende il suo profilo, la sintesi dei suoi obiettivi, la sintesi degli obiettivi aziendali, le informazioni demografiche e quelle sull’uso dei prodotti digitali.

##**Quando svilupparli**
Dopo la fase di ricerca per la progettazione di un prodotto digitale.

##Informazioni e preventivi
Potete chiamarci allo **06 84404055** oppure su skype **sdominici** per illustrarci le vostre esigenze, in base alle quali prepareremo un preventivo ad hoc.

##**Per saperne di più**
Per comprendere meglio le potenzialità dei personaggi vi consigliamo di guardare le slide del nostro intervento a **Web Senza Barriere 2008** con l'ausilio del <a title="Lo sviluppo dei personaggi nello user-centred design" href="../p-pdf/wsb2008-paper.pdf" target="_blank">testo descrittivo</a> (PDF 26,2Kb).


<param name="movie" value="http://static.slideshare.net/swf/ssplayer2.swf?doc=wsb2008-presentazione-per-blog-1210587390181387-9">
<param name="allowFullScreen" value="true">
<param name="allowScriptAccess" value="always">
<embed src="http://static.slideshare.net/swf/ssplayer2.swf?doc=wsb2008-presentazione-per-blog-1210587390181387-9" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" height="355" width="425">
