// Objects
//
// Prefixed with `o-` and usually consist of the smaller build units.
//
// Styleguide 1

// Basic Buttons
//
// Markup: <a href="#" class="o-button {$modifiers} " > A link button </a>
// <button class="o-button {$modifiers}">A button tag</button>
// <input type="button" class="o-button {$modifiers}" value="An input button">
//
// .o-button--primary   - Primary style.
// .o-button--secondary - Secondary buttons.
// .o-button--light     - Light variation.
// .o-button--small     - Smaller height.
// .o-button--compact   - Compact width.
//
// Styleguide 1.1

.o-button
  padding-left: em($ratio__base * 1.25)
  padding-right: em($ratio__base * 1.25)
  display: block
  text-align: center
  line-height: em($object-height__small)
  border-radius: $border-radius
  border: 2px solid $color__primary
  background: $color__white
  transition: background-color $transition__duration, color $transition__duration
  +on-interaction
    background-color: $color__primary
    color: $color__white

.o-button--small
  font-size: em($ratio__small)

.o-button--medium
  line-height: em($object-height)

.o-button--large
  line-height: em($object-height__large)

.o-button--compact
  min-width: em($object-height)
