<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{assets}}/css/app.css">
    <script async src="//use.typekit.net/dhr7qos.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

  </head>
  <body>


    <main id="main" class="main" role="main">
      {{> _header}}
      {{> body }}

    </main>

  <script src="{{assets}}/js/app.js"></script>
  </body>
</html>
