---
title: Architettura informativa
section: progettazione
layout: ./src/templates/layouts/longread.hbs
---
##Che cos'è l'architettura informativa
È la progettazione strutturale di uno spazio informativo che ha lo scopo di permettere alle persone di svolgere facilmente i loro compiti e di trovare e fruire delle informazioni in modo semplice e intuitivo.

##Perché è importante e per chi
Un'architettura informativa ben progettata, chiara e intuitiva, da grandi benefici ed è importante per:

- la **pubblica amministrazione**, perché trasmette efficenza ai cittadini
- **un'azienda**, perché aumenta il valore percepito del marchio e aumenta l'efficenza della gestione delle informazioni destinate ai clienti
- **un portale di e-commerce**, perché permette ai clienti di trovare i prodotti e acquistarli con facilità
- **una intranet**, perché abbatte i costi di reperimento delle informazioni

##A chi è destinato il servizio
Il servizio è destinato a tutte le **aziende** del settore **pubblico** e **privato **e alle **web agency** che non hanno nel loro team un architetto delle informazioni.

##Informazioni e preventivi
Potete chiamarci allo **06 84404055** oppure su skype **sdominici** per illustrarci le vostre esigenze, in base alle quali prepareremo un preventivo ad hoc.

##Caso di studio
<a title="Link esterno: http://trovabile.org/articoli/catalogo-generale-beni-culturali" href="http://trovabile.org/articoli/catalogo-generale-beni-culturali">Navigazione e ricerca nel Catalogo generale dei Beni Culturali</a>
(Pubblicato sulla rivista online Trovabile)
