%a-letter
  animation-name: letter-enter
  animation-duration: 400ms
  animation-timing-function: ease-in
  animation-delay: 0s
  animation-play-state: running
  animation-fill-mode: forwards

@keyframes letter-enter
  from
    opacity: 0
    transform: translateX(-10%)
  to
    opacity: 1
    transform: translateX(0%)
