// Extends

%unset--list
  +unset-list


// Margin and padding helpers
//---------------------------
.margin-none
  margin-top: 0 !important
  margin-bottom: 0 !important
.margin-half
  margin-top: $section-padding*0.5 !important
  margin-bottom: $section-padding*0.5 !important
.margin-regular
  margin-top: $section-padding !important
  margin-bottom: $section-padding !important
.margin-double
  margin-top: $section-padding*3.5 !important
  margin-bottom: $section-padding*3.5 !important

.margin-top-none
  margin-top: 0 !important
.margin-top-half
  margin-top: $section-padding*0.5 !important
.margin-top-regular
  margin-top: $section-padding !important
.margin-top-double
  margin-top: $section-padding*3.5 !important

.margin-bottom-none
  margin-bottom: 0 !important
.margin-bottom-half
  margin-bottom: $section-padding*0.5 !important
.margin-bottom-regular
  margin-bottom: $section-padding !important
.margin-bottom-double
  margin-bottom: $section-padding*3.5 !important

.padding-none
  padding-top: 0 !important
  padding-bottom: 0 !important
.padding-half
  padding-top: $section-padding*0.5 !important
  padding-bottom: $section-padding*0.5 !important
.padding-regular
  padding-top: $section-padding !important
  padding-bottom: $section-padding !important
.padding-double
  padding-top: $section-padding*3.5 !important
  padding-bottom: $section-padding*3.5 !important

.padding-top-none
  padding-top: 0 !important
.padding-top-half
  padding-top: $section-padding*0.5 !important
.padding-top-regular
  padding-top: $section-padding !important
.padding-top-double
  padding-top: $section-padding*3.5 !important

.padding-bottom-none
  padding-bottom: 0 !important
.padding-bottom-half
  padding-bottom: $section-padding*0.5 !important
.padding-bottom-regular
  padding-bottom: $section-padding !important
.padding-bottom-double
  padding-bottom: $section-padding*3.5 !important


// Classes

.is-hidden
  +visuallyhidden

.ll
  max-width: $fonts__max-line-length

.text--bold
  +bold

.text--lite
  color: $color__grey3

.text--primary
  color: $color__primary

.text--centered
  text-align: center

.text--invert
  color: $color__white

.divide
  +set-border(all)

.divide--top
  +set-border(top)

.divide--bottom
  +set-border(bottom)

.divide--left
  +set-border(left)

.divide--right
  +set-border(right)

.undivide
  border: none

.undivide--top
  border-top: none

.undivide--bottom
  border-bottom: none

.undivide--left
  border-left: none

.undivide--right
  border-right: none

.undivide--first
  > :first-child
    border-top: none
    padding-top: 0
    margin-top: 0

.undivide--last
  > :last-child
    border-bottom: none
    padding-bottom: 0
    margin-bottom: 0

.centered
  margin-left: auto
  margin-right: auto

.rounded
  // massive radius to ensure circle
  border-radius: em(500)

.relative
  position: relative

.ir
  +ir

.fl
  float: left

.fr
  float: right

.clear
  clear: both

.cf
  *zoom: 1

  &:after,
  &:before
    content: " "
    display: table

  &:after
    clear: both


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after
  content: " " //1
  display: table //2

.clearfix:after
  clear: both

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix
  *zoom: 1
